#about {
    background: url('../img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.egg {
    height: 350px;
    width: 290px;
    background: rgba(255, 255, 255, 0.50);
    box-shadow: 0px 1px 20px 1px rgba(47, 43, 215, 0.10);
    border-radius: 100% / 125% 125% 80% 80%;
    margin: 2rem 2rem;
    padding: 1rem 2rem;
}

.egg img {
    width: 18%;
}

.egg p {
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: var(--black);
    font-weight: var(--medium);
}

#egg .crack {
    visibility: hidden;
}

#egg .egg-desc p {
    display: none;
}

#egg:hover .crack {
    visibility: visible;
    width: 60%;
    position: absolute;
    margin-top: -18rem;
    margin-left: -0.5rem;
}

#egg:hover .egg-desc p {
    display: block;
    font-size: 0.8rem;
    line-height: 24px;
    font-weight: var(--regular);
}

.egg:hover {
    transform: scale(1.1);
}

#soon {
    background: url('../img/home/Group\ 54.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 15rem;
    margin-top: -50px;
}

#soon h5 {
    text-transform: uppercase;
    font-size: 1.8rem;
    line-height: 60px;
}

.abtimg {
    animation: updown 3s ease infinite;
}

@keyframes updown {
    0% {
        transform: translateY(-3%);
    }

    50% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-3%);
    }
}



@media(max-width:680px) {


    #soon h5 {
        font-size: 1.5rem;
    }
}